
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Philosopher&family=Poppins:wght@300&display=swap');

/*Body Style*/
.decoration{

 width: 100%;
 background-image: url(../products/arabesco-left-bottom.svg);  
 filter: hue-rotate(350deg); /* Rotate hue to change color */  
 background-repeat: no-repeat;
 background-position: bottom left ;
 /*transform: rotate(90deg);*/
 z-index: -1;
 background-size: 26%;
 



}


/* Heading Decoration*/

 h1{

  
    
    
  font-size: px;
  padding: 3% 18%;
    display: flex;
    
    align-items: center;
    z-index: 9999;


  
  text-decoration: none;
  font-weight: 600;
  font-size: xx-large;
  text-shadow: .5px .5px 3px white;
  transition: .4s;

}
h1{

  transform: scale(1.1);



}
h1 .f,.d,.a,.k{color: #ffc107;}

.quesDeco{
 font-weight:bold;

}
h1 .e,.b,.c,.A{
  color: #dc3545

}
/*img and their name decoration*/
.deco {
  width: 500px;
  height: auto;
}
.deco .name{

  color: rgb(14, 140, 110);
  font-size: 20px;
  font-weight: bolder;

}
.deco img{
  background-color: rgb(245, 241, 238);
  border-radius: 50%;

}


*{
    font-family:  'Philosopher', sans-serif;
    ;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
  
.left {
  left: 0;
}

.right {
  right: 0;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
  
.centered img {
  width: 100%;
}


textarea {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.comments {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}


/*reaction heading decoration*/
.reactdeco{
font-size: large;
font-weight: bold;
color: #ffc107;


}
.neg{

  color: #dc3545
  ;
}